API_KEY=CHANGE_ME

REDIS_HOST=localhost

REDIS_PORT=6379

REDIS_PASSWORD=defaultpassword

REDIS_DB=0

DATABASE_URL=asyncpg+postgresql://user:password123@localhost:5432/mydatabase 

MONGO_USER=user

MONGO_PASSWORD=password123