BOT_TOKEN=CHANGE_ME

REDIS_HOST=localhost

REDIS_PORT=6379

REDIS_PASSWORD=defaultpassword

REDIS_DB=0

DATABASE_URL=postgresql+asyncpg://admin:password123@localhost:5432/pingbet 

DB_NAME=pingbet

DB_USER=admin

DB_PASSWORD=password123